#### Formatting

the process of constructing strings with placeholders for variables or values, which are later replaced with actual content during runtime.

##### format specidiers
%d  =>  int

%s  =>  str

%i  =>  int

%f  =>  float

%b  =>  bool

In [10]:
name = "pavan"
num = 928364726
age = 27
address = "1-373/hyderabad-500032"
fl = 7362.732627
name2 = "bairu"

In [11]:
# for the statement we have to provide the exact numbers of arguments for the specifiers 
print("the name is %s and mobile is %d and age is %i and addess is %s and salary is %f" %(name, age, num))

TypeError: not enough arguments for format string

In [15]:
# trying to pass six variables 
print("the name is %s and mobile is %d and age is %d and addess is %s and salary is %f" %(name, age, num, address, fl, name2))

TypeError: not all arguments converted during string formatting

In [4]:
# the print statements prints but its still something wrong. coz, that order of passing the variables
print("the name is %s and mobile is %d and age is %i and addess is %s and salary is %f" %(name, age, num, address, fl))

the name is pavan and mobile is 27 and age is 928364726 and addess is 1-373/hyderabad-500032 and salary is 7362.732627

In [17]:
# prints statement fine 
print("the name is %s and mobile is %d and age is %i and addess is %s and salary is %f" %(name, num, age, address, fl))

the name is pavan and mobile is 928364726 and age is 27 and addess is 1-373/hyderabad-500032 and salary is 7362.732627

##### Place holder formatting
pass the arguments in order of index

In [24]:
# if provide arguments less than expected, get error
print("the name is {0} and mobile is {1} and age is {2} and addess is {3}" .format(name, num, age))

IndexError: Replacement index 3 out of range for positional args tuple

In [23]:
# if provide more arguments, still it wont give error
print("the name is {0} and mobile is {1} and age is {1} and addess is {3}" .format(name, num, age, address, fl))

the name is pavan and mobile is 928364726 and age is 928364726 and addess is 1-373/hyderabad-500032

In [25]:
# if provide more arguments, still it wont give error
print("the name is {0} and mobile is {1} and age is {1} and addess is {1}" .format(name, num, age, address, fl))

the name is pavan and mobile is 928364726 and age is 928364726 and addess is 928364726

In [26]:
print("the name is {0} and mobile is {1} and age is {2} and addess is {3} and salary is {4}" .format(name, num, age, address, fl))

the name is pavan and mobile is 928364726 and age is 27 and addess is 1-373/hyderabad-500032 and salary is 7362.732627

In [30]:
# key error
print("the name is {a} and mobile is {b} and age is {c} and addess is {d} and salary is {e}" .format(a=name, b=num, c=age, d=address))

KeyError: 'e'

In [31]:
# pass the specific variables to the specific place holders
print("the name is {a} and mobile is {b} and age is {c} and addess is {d} and salary is {e}" .format(a=name, b=num, c=age, d=address, e=fl))

the name is pavan and mobile is 928364726 and age is 27 and addess is 1-373/hyderabad-500032 and salary is 7362.732627

In [ ]:
# pass the arguments in order
print("the name is {} and mobile is {} and age is {} and addess is {} and salary is {}" .format(name, num, age, address, fl))

In [33]:
# thoughs error if we specify place holder for only few
# either should place for all or leave empty
print("the name is {0} and mobile is {1} and age is {} and addess is {} and salary is {}" .format(name, num, age, address, fl))

ValueError: cannot switch from manual field specification to automatic field numbering

In [34]:
# works fine
print("the name is {} and mobile is {} and age is {} and addess is {} and salary is {}" .format(name, num, age, address, fl))

the name is pavan and mobile is 928364726 and age is 27 and addess is 1-373/hyderabad-500032 and salary is 7362.732627

##### F-Formatting

In [36]:
#  specify the f before the string

# very simple

print(f"the name is {name} and mobile is {num} and age is {age} and addess is {address} and salary is {fl}")

the name is pavan and mobile is 928364726 and age is 27 and addess is 1-373/hyderabad-500032 and salary is 7362.732627

In [38]:
#  specify the f before the string

# very simple

# for fl variable to take only 2 positions after decimal use 0.2f

print(f"the name is {name} and mobile is {num} and age is {age} and addess is {address} and salary is {fl:0.2f}")

the name is pavan and mobile is 928364726 and age is 27 and addess is 1-373/hyderabad-500032 and salary is 7362.73