#### Variance & Standard Deviation

##### Variance:
Variance measures the average squared deviation of each data point from the mean of the dataset. It is calculated by taking the average of the squared differences between each data point and the mean. 

The formula for variance is : Variance = Σ((x - μ)²) / n

Where:

*   Σ represents the sum

*   x is each individual data point

*   μ (mu) is the mean of the dataset

*   n is the total number of data points

In [1]:
## data list
ages=[23,43,23,56,74,32,68,98,45,32]

In [3]:
import numpy as np

# mean
np.mean(ages)

49.4

In [4]:
# variance
np.var(ages)

541.64

In [5]:
# using pandas creating a dataset 
import pandas as pd

data = pd.DataFrame([[10,12,13],[34,23,45],[32,34,21]])  # converting the list as rows and columns dataset
data

    0   1   2
0  10  12  13
1  34  23  45
2  32  34  21

In [6]:
data = pd.DataFrame([[10,12,13],[34,23,45],[32,34,21]], columns=["A", "B", "C"])  # assigning the column names
data

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [7]:
# calcauting the variance of column A
# by default the axis is 0
np.var(data, axis=0)

A    118.222222
B     80.666667
C    184.888889
dtype: float64

In [15]:
# calcauting the variance of column A
# by default the axis is 0
np.var(data)

C:\Users\pavan\AppData\Roaming\Python\Python312\site-packages\numpy\core\fromnumeric.py:3785: FutureWarning: The behavior of DataFrame.var with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

A    118.222222
B     80.666667
C    184.888889
dtype: float64

In [9]:
# calcauting the variance of row 
# the axis 1 is row
np.var(data, axis=1)

0     1.555556
1    80.666667
2    32.666667
dtype: float64

##### 2. Standard Deviation: 
Standard deviation is the square root of the variance. It provides a measure of the dispersion of data points around the mean. Standard deviation is preferred over variance because it is in the same units as the original data, making it more interpretable.

The formula for standard deviation is  :  Standard Deviation = √(Variance)

Where:

*   √ represents the square root

*   Variance is the variance of the dataset

In [13]:
ages

[23, 43, 23, 56, 74, 32, 68, 98, 45, 32]

In [10]:
# standard deviation
np.std(ages)

23.273160507331188

In [12]:
data

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [11]:
# standard deviation
np.std(data)  # default column wise if do not specify axis

C:\Users\pavan\AppData\Roaming\Python\Python312\site-packages\numpy\core\fromnumeric.py:3643: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

A    10.873004
B     8.981462
C    13.597385
dtype: float64

In [14]:
# standard deviation
np.std(data, axis=1)        # axis = 1 -> rowise

0    1.247219
1    8.981462
2    5.715476
dtype: float64