### Dictionary
 dictionary is an unordered collection of key-value pairs, where each key is associated with a corresponding value. Dictionaries are defined using curly braces {}, and key-value pairs are separated by colons :. Keys within a dictionary must be unique and immutable, while values can be of any data type, including integers, strings, lists, tuples, sets, or even other dictionaries.

#### WAP to count the occurence of each character in given string. Your string will only have alphabets and spaces in that.

In [2]:
str1 = "aaacc bb dd"
char_list = []

In [3]:
for char in str1:

    if char not in char_list:
        char_list.append(char)

for index, char in enumerate(char_list):
    print(char_list[index], " " , str1.count(char))
char_list

a   3
c   2
    2
b   2
d   2

['a', 'c', ' ', 'b', 'd']

In [4]:
charList = [0 for i in range(0,26)]
charList

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
str1

'aaacc bb dd'

In [6]:
for char in str1:
    if char.isalpha():
        charList[ord(char) - 97] += 1
charList

[3, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [7]:
chr(100)  # Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

'd'

In [8]:
for i in range(0, 26):

    print(str(chr(i+97)) , charList[i])

a 3
b 2
c 2
d 2
e 0
f 0
g 0
h 0
i 0
j 0
k 0
l 0
m 0
n 0
o 0
p 0
q 0
r 0
s 0
t 0
u 0
v 0
w 0
x 0
y 0
z 0

In [9]:
d = {'key1' : 'value1', 'key2' : 'value2'}

In [10]:
d

{'key1': 'value1', 'key2': 'value2'}

In [11]:
type(d)

dict

In [12]:
d[0]        # indexing diesnt work

KeyError: 0

In [13]:
d['key1']  # access value by key

'value1'

In [14]:
d['key1'] = 23      # update value

In [15]:
d['key1']

23

In [16]:
d['key1'] = (1,2,3)     # update value

In [17]:
d['key1']

(1, 2, 3)

In [18]:
d

{'key1': (1, 2, 3), 'key2': 'value2'}

In [19]:
len(d)

2

In [20]:
d = {1 : "one",
     2 : "two",
     3 : "three",
     100 : "hundred"}

In [21]:
d[1]        # try to access the key not the index

'one'

In [22]:
d[0]        # there is no key with 0 in dictionary d

KeyError: 0

In [23]:
d[3]

'three'

In [24]:
d[5]

KeyError: 5

##### iterate over dictionary

In [25]:
# by default dictionary iterates over keys
for i in d:
    print(i)

1
2
3
100

In [26]:
# for values 
for i in d.values():
    print(i)

one
two
three
hundred

In [27]:
# for keys
for i in d.keys():
    print(i)

1
2
3
100

In [28]:
# for both 
for i in d.items():
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')
(100, 'hundred')

In [29]:
# other way

for key, value in d.items():
    print(key, "-", value)

1 - one
2 - two
3 - three
100 - hundred

##### update or upsert

In [30]:
d

{1: 'one', 2: 'two', 3: 'three', 100: 'hundred'}

In [31]:
d[1] = 'new value'      # updating the key 1
d

{1: 'new value', 2: 'two', 3: 'three', 100: 'hundred'}

In [32]:
d[4]

KeyError: 4

In [33]:
d[4] = 'four'   # if key is not avilable and try to assign value it creates new entry in dictionary
d

{1: 'new value', 2: 'two', 3: 'three', 100: 'hundred', 4: 'four'}

#### Methods in Dictionary
1. clear()
2. copy()
3. get()
4. keys()
5. values()
6. items()
7. update()
8. pop()
9. popitem()

In [34]:
# creating an employee list
employees = {'101' : {'name' : 'pavan', 'Age' : 26, 'location': 'hyd'},
            '102' : {'name' : 'prashanth', 'Age' : 29, 'location' : 'wgl'},
            '103' : {'name' : 'mayank', 'Age' : 28, 'location' : 'blr'}
            }

employees

{'101': {'name': 'pavan', 'Age': 26, 'location': 'hyd'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'}}

##### get() -> is ued to get the value using the key in dictionary

In [35]:
employees.get('101')

{'name': 'pavan', 'Age': 26, 'location': 'hyd'}

In [36]:
employees.get('103')

{'name': 'mayank', 'Age': 28, 'location': 'blr'}

In [37]:
employees.get('102')

{'name': 'prashanth', 'Age': 29, 'location': 'wgl'}

In [38]:
employees.get('105')    # as 105 key is not available. it returns nothing and also will not through error.

##### keys() -> used to access all the keys from dictionary

In [39]:
employees

{'101': {'name': 'pavan', 'Age': 26, 'location': 'hyd'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'}}

In [40]:
employees.keys()

dict_keys(['101', '102', '103'])

In [41]:
for key in employees.keys():
    print(key)

101
102
103

In [42]:
employee_list = list(employees.keys())
employee_list

['101', '102', '103']

In [43]:
employee_list = list(employees.keys())      # converting the dictionary to list


for index in range(len(employee_list)):

    if employee_list[index] == '103':

        print(index) # printing the index of key '103'

2

##### values() -> returns all the values from dictionary

In [44]:
employees

{'101': {'name': 'pavan', 'Age': 26, 'location': 'hyd'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'}}

In [45]:
employees.values()

dict_values([{'name': 'pavan', 'Age': 26, 'location': 'hyd'}, {'name': 'prashanth', 'Age': 29, 'location': 'wgl'}, {'name': 'mayank', 'Age': 28, 'location': 'blr'}])

In [46]:
for emp_record in employees.values():

    print(emp_record)

{'name': 'pavan', 'Age': 26, 'location': 'hyd'}
{'name': 'prashanth', 'Age': 29, 'location': 'wgl'}
{'name': 'mayank', 'Age': 28, 'location': 'blr'}

##### items() -> gives the both keys and values from the dictionary

In [47]:
employees

{'101': {'name': 'pavan', 'Age': 26, 'location': 'hyd'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'}}

In [48]:
employees.items()

dict_items([('101', {'name': 'pavan', 'Age': 26, 'location': 'hyd'}), ('102', {'name': 'prashanth', 'Age': 29, 'location': 'wgl'}), ('103', {'name': 'mayank', 'Age': 28, 'location': 'blr'})])

In [49]:
for key, value in employees.items():        # item gives the both keys and values

    print(key, ' - ', value)

101  -  {'name': 'pavan', 'Age': 26, 'location': 'hyd'}
102  -  {'name': 'prashanth', 'Age': 29, 'location': 'wgl'}
103  -  {'name': 'mayank', 'Age': 28, 'location': 'blr'}

##### update() -> updates the particular value in dictionary

In [50]:
employees

{'101': {'name': 'pavan', 'Age': 26, 'location': 'hyd'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'}}

In [51]:
employees['101'] # accesing 101 key

{'name': 'pavan', 'Age': 26, 'location': 'hyd'}

In [52]:
employees['101']['location']    # accesing the location of key '101'

'hyd'

In [59]:
# Extract the inner dictionary for employee '101'
employee_101 = employees.get('101')
employee_101

{'name': 'pavan', 'Age': 26, 'location': 'Wgl'}

In [61]:
# Update the location for employee '101' to 'Wgl'
employee_101['location'] = 'Wgl'
employee_101

{'name': 'pavan', 'Age': 26, 'location': 'Wgl'}

In [63]:
# Update the outer dictionary with the modified inner dictionary
employees.update({'101': employee_101})
employees

{'101': {'name': 'pavan', 'Age': 26, 'location': 'Wgl'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'}}

In [64]:
# im just trying to update the key which is not available
employees.update({'104' : {'name' : 'rohit', 'Age' : 26, 'location' : 'wgl'}})

In [65]:
# if they key is available it updates the value for particular key. if not available it creates a new entry into dictionary
employees

{'101': {'name': 'pavan', 'Age': 26, 'location': 'Wgl'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'},
 '104': {'name': 'rohit', 'Age': 26, 'location': 'wgl'}}

##### copy() -> it is used to create the copy of existing dictionary

In [66]:
employees

{'101': {'name': 'pavan', 'Age': 26, 'location': 'Wgl'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'},
 '104': {'name': 'rohit', 'Age': 26, 'location': 'wgl'}}

In [68]:
employess_2 = employees.copy()      # creating a copy
employess_2

{'101': {'name': 'pavan', 'Age': 26, 'location': 'Wgl'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'},
 '104': {'name': 'rohit', 'Age': 26, 'location': 'wgl'}}

In [69]:
print(id(employess_2))
print(id(employees))

2358163942528
2358156524032

In [72]:
print("address of keys in employess dictionary")
for key in employees.keys():
    # address of keys in employess dictionary
    print(id(key))

print()

print("address of keys in employess_2 dictionary")
for key in employess_2.keys():
    # address of keys in employess_2 dictionary
    print(id(key))

address of keys in employess dictionary
2358135127376
2358135126944
2358135127328
2358135127472

address of keys in employess_2 dictionary
2358135127376
2358135126944
2358135127328
2358135127472

Note: the address of dictionaries are different but the keys are having the same address

In [74]:
# trying to delete 103 key in employee_2 dictionary
del employess_2['103']
employess_2

{'101': {'name': 'pavan', 'Age': 26, 'location': 'Wgl'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '104': {'name': 'rohit', 'Age': 26, 'location': 'wgl'}}

In [76]:
# printing employee
employees   # after deleting key from employee_2. its not impacted the employees of 103

{'101': {'name': 'pavan', 'Age': 26, 'location': 'Wgl'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'},
 '104': {'name': 'rohit', 'Age': 26, 'location': 'wgl'}}

##### pop() -> used to delete the specific key entry in the dictionary

In [77]:
employess_2.pop()

TypeError: pop expected at least 1 argument, got 0

In [78]:
employess_2.pop('105')

KeyError: '105'

In [79]:
employess_2.pop('104')

{'name': 'rohit', 'Age': 26, 'location': 'wgl'}

In [80]:
employess_2

{'101': {'name': 'pavan', 'Age': 26, 'location': 'Wgl'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'}}

##### popitem()     # # delets the last entry from dictionary

In [81]:
employess_2.popitem()   # delets the last entry

('102', {'name': 'prashanth', 'Age': 29, 'location': 'wgl'})

In [82]:
employess_2

{'101': {'name': 'pavan', 'Age': 26, 'location': 'Wgl'}}

In [83]:
employee_3 = employees.copy()

In [84]:
employee_3.popitem()

('104', {'name': 'rohit', 'Age': 26, 'location': 'wgl'})

##### clear() -> deletes all they entries from dictionary

In [85]:
employee_3

{'101': {'name': 'pavan', 'Age': 26, 'location': 'Wgl'},
 '102': {'name': 'prashanth', 'Age': 29, 'location': 'wgl'},
 '103': {'name': 'mayank', 'Age': 28, 'location': 'blr'}}

In [86]:
employee_3.clear()

In [87]:
employee_3

{}

In [88]:
del employee_3

In [89]:
employee_3

NameError: name 'employee_3' is not defined