#### Lambda Function

A lambda function in Python is a small anonymous function defined using the lambda keyword. Its main purpose is to create a function without a name that can be used as a one-liner expression.

In [1]:
## using normal function

def square(x):
    print(x*x)

In [2]:
square(5)

25

In [3]:
## will see the same thing using lambda function

my_sqaure_function = lambda x: x*x      # anonymous function

In [4]:
my_sqaure_function(5)

25

In [5]:
### cube using normal function
def cube(x):
    print(x*x*x)

In [6]:
## cube using lambda

cube2 = lambda x: x*x*x

In [7]:
cube(3)
cube2(3)

27

27

##### absolute value

In [8]:
abs_value = lambda x : abs(x)

In [9]:
abs_value(-19)

19

##### addition

In [10]:
add = lambda a, b, c : a + b + c

In [11]:
add(3,4,5)

12

In [12]:
add(1,2,3,4)

TypeError: <lambda>() takes 3 positional arguments but 4 were given

In [14]:
print_num = lambda x : print(x)
print_num(3)    # printing the value

3

In [18]:
num = print_num(3)

3

In [19]:
print(num)      # the function returns nothing

None

##### lamda function using *args

In [20]:
my_lambda = lambda *args : args # taking the input as many parameters and returning it

In [21]:
my_lambda(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

##### sum of args using lambda

In [1]:
my_sum = lambda *args: sum(args)
print(my_sum(5, 10))  # Output: 15

15

##### directly using lambda in print statement

In [2]:
print((lambda x : x*x)(5))

25

In [3]:
print((lambda *x : sum(x))(5,10,20,30))

65

##### printing 1st character from a name using lambda

In [10]:
name = input("enter the users name : ")
print("enter the users name : ", name)

my_name = lambda name : name[0]

my_name(name)

enter the users name :  Pavan

'P'

##### printing 1st character from a name using lambda in print statement

In [12]:
print((lambda name : name[0]) ("Pavan"))

P

##### even odd number using lambda. if even returns True else False

In [13]:
my_lambda = lambda number : True if number%2 == 0 else False

In [14]:
my_lambda(10)

True

In [15]:
my_lambda(3)

False

##### even odd number using lambda print statement. if even returns True else False

In [17]:
print((lambda number : number%2 == 0) (5))

False

##### Recursive

In [18]:
def square(number):
    return number*number


def my_function(value, function):
    return function(value)

In [21]:
square(5)

25

In [22]:
my_function(4, square) # passing function square

16

In [23]:
my_function(6, lambda x: x*x)   # passing lambda inside function

36

In [24]:
my_function(6, lambda x: x*x*x)   # passing lambda inside function

216

##### Map
The map() function in Python is used to apply a given function to each item of an iterable (such as a list) and returns a new iterator that yields the results. Here's how you can use map() to square each number in a list:

#### square each number from a list using map

In [34]:
def square(num):
    return num*num

In [35]:
list1 = [1,2,3,4,5]

In [36]:
# map(func, *iterables) --> map object

# Make an iterator that computes the function using arguments from each of the iterables. 
# Stops when the shortest iterable is exhausted.

list(map(square, list1))

[1, 4, 9, 16, 25]

#### square each number from a list using map and lambda

In [33]:
numbers = list(map(int, input("Enter the list of numbers separated by spaces: ").split()))
print("enter the list of number : ", numbers)

square_of_each_num = lambda numbers : [num*num for num in numbers]

square_of_each_num(numbers)

enter the list of number :  [1, 2, 3, 4, 5]

[1, 4, 9, 16, 25]

In [37]:
square_of_numbers = list(map(lambda number: number*number, [1,2,3,4,5,6]))
square_of_numbers

[1, 4, 9, 16, 25, 36]

In [38]:
square_of_numbers = list(map(lambda number: number*number if number%2==0 else None, [1,2,3,4,5,6]))
square_of_numbers

[None, 4, None, 16, None, 36]

##### Filter
The filter() function in Python is used to construct an iterator from elements of an iterable for which a function returns true. Here's how you can use filter() to filter out even numbers from a list:

In [39]:
def vowels(char):

    vowel = "aeiou"
    if char in vowel:
        return False
    else:
        return True

In [41]:
# the each char from string "pavan" is iterating through the function vowels. 
# if the char not in vowels it returning the filter object. and converting it to list
list(filter(vowels, "pavan"))

['p', 'v', 'n']

##### even numbers only using filter

In [44]:
numbers = list(map(int, input("Enter the list of numbers separated by spaces: ").split()))
print("enter the list of number : ", numbers)

# Return an iterator yielding those items of iterable for which function(item) is true. If function is None, 
# return the items that are true.

even = list(filter(lambda number: number%2 == 0, numbers))      # this retuns True only when condition satisfies
even

enter the list of number :  [5, 6, 7, 8, 9]

[6, 8]

##### transaction amount filtering example

In [46]:
# List of transactions with amounts
transactions = [
    {"id": 1, "amount": 500},
    {"id": 2, "amount": 1200},
    {"id": 3, "amount": 800},
    {"id": 4, "amount": 1500},
    {"id": 5, "amount": 600}
]
transactions

[{'id': 1, 'amount': 500},
 {'id': 2, 'amount': 1200},
 {'id': 3, 'amount': 800},
 {'id': 4, 'amount': 1500},
 {'id': 5, 'amount': 600}]

In [47]:
# from the transactions list each dictionary key value iterates through the lambda function.
# here comparing the amount of each transaction and if > 1000 then returning True

list(filter(lambda transaction : transaction["amount"] > 1000, transactions))

[{'id': 2, 'amount': 1200}, {'id': 4, 'amount': 1500}]

##### employee salary using filter

In [48]:
# List of employees with their salaries
employees = [
    {"name": "Alice", "salary": 50000},
    {"name": "Bob", "salary": 75000},
    {"name": "Charlie", "salary": 60000},
    {"name": "David", "salary": 90000},
    {"name": "Eve", "salary": 45000}
]
employees

[{'name': 'Alice', 'salary': 50000},
 {'name': 'Bob', 'salary': 75000},
 {'name': 'Charlie', 'salary': 60000},
 {'name': 'David', 'salary': 90000},
 {'name': 'Eve', 'salary': 45000}]

In [49]:
# from the employees list each dictionary key value iterates through the lambda function.
# here comparing the salary of each employee and if >= 60000 then returning True

list(filter(lambda employee : employee["salary"] >= 60000, employees ))

[{'name': 'Bob', 'salary': 75000},
 {'name': 'Charlie', 'salary': 60000},
 {'name': 'David', 'salary': 90000}]

##### difference between map and filter

In [50]:
# here the lambda function is squaring the each value of list
list(map(lambda x: x*x, [1,2,3,4]))

[1, 4, 9, 16]

In [51]:
# here there is no condition is applied so it just returns all the values
# filter works based on the condition. and all the elements in the list are True. so it returned all the elements 
list(filter(lambda x:x*x, [1,2,3,4]))

[1, 2, 3, 4]

In [53]:
# here there is no condition is applied so it just returns all the values which are True
# filter works based on the condition and here 0 and False are the elements not True. so it returned only the elements which are True 
list(filter(lambda x:x*x, [0, 1,False, -1, 2,3,4]))

[1, -1, 2, 3, 4]

##### Map & Filter

In [55]:
# List of employees with their salaries
employees = [
    {"name": "Alice", "salary": 50000},
    {"name": "Bob", "salary": 75000},
    {"name": "Charlie", "salary": 60000},
    {"name": "David", "salary": 90000},
    {"name": "Eve", "salary": 45000}
]

employees

[{'name': 'Alice', 'salary': 50000},
 {'name': 'Bob', 'salary': 75000},
 {'name': 'Charlie', 'salary': 60000},
 {'name': 'David', 'salary': 90000},
 {'name': 'Eve', 'salary': 45000}]

In [56]:
# Use map to increase each employee's salary by 10%
updated_salaries = list(map(lambda employee: {"name": employee["name"], "salary": employee["salary"] * 1.10}, employees))
updated_salaries

[{'name': 'Alice', 'salary': 55000.00000000001},
 {'name': 'Bob', 'salary': 82500.0},
 {'name': 'Charlie', 'salary': 66000.0},
 {'name': 'David', 'salary': 99000.00000000001},
 {'name': 'Eve', 'salary': 49500.00000000001}]

In [57]:
# Use filter to get employees with salaries greater than $60000
high_salary_employees = list(filter(lambda employee: employee["salary"] > 60000, updated_salaries))
high_salary_employees

[{'name': 'Bob', 'salary': 82500.0},
 {'name': 'Charlie', 'salary': 66000.0},
 {'name': 'David', 'salary': 99000.00000000001}]

##### Enumerate() -> returns the index along with value in iteration

In [61]:
for index, char in enumerate("Pavan"):

    print("index is :", index, " and char is :", char)

index is : 0  and char is : P
index is : 1  and char is : a
index is : 2  and char is : v
index is : 3  and char is : a
index is : 4  and char is : n

In [62]:
list(enumerate("pavan"))

[(0, 'p'), (1, 'a'), (2, 'v'), (3, 'a'), (4, 'n')]

##### Reduce

The reduce() function, which was part of the functools module in Python 2, and has been moved to the functools module in Python 3, is used to apply a function to an iterable and reduce it to a single cumulative value

In [63]:
def mySum(a,b):
    return a+b

In [64]:
from functools import reduce

reduce(mySum, [1,2,3,4,5])      # it reduces to a single value by performing the function for each iteration

15

In [65]:
reduce(lambda a,b : a+b , [5,6,7,8])

26

##### find the maximum value in a list using reduce

In [66]:
# List of numbers
numbers = [3, 6, 1, 8, 4, 10, 5]

# Using reduce to find the maximum value
max_value = reduce(lambda x, y: x if x > y else y, numbers)

print("Maximum value:", max_value)

Maximum value: 10