#### Lists
a list is a collection of items enclosed in square brackets [ ]. It's ordered, mutable, and can contain elements of different data types. Lists are versatile and commonly used for storing and manipulating data.

In [6]:
l1 = [1,2,3,4,5]  # int list
l1

[1, 2, 3, 4, 5]

In [8]:
# can store elements of different data types

l2 = [1, 2.46, "pavan", True, 2+3j]
l2

[1, 2.46, 'pavan', True, (2+3j)]

In [9]:
# iterates through list
for i in l2:
    print(i)

1
2.46
pavan
True
(2+3j)

In [13]:
# using list class

l2 = list(1, 2.46, "pavan", True, 2+3j)
l2

TypeError: list expected at most 1 argument, got 5

In [24]:
# using list class

l2 = list((1, 2.46, "pavan", True, 2+3j))  # tuple of list
l2

[1, 2.46, 'pavan', True, (2+3j)]

In [29]:
l2 = list((100))

TypeError: 'int' object is not iterable

In [31]:
l3 = list((100,))
l3

[100]

In [14]:
l1 = list("pavan")   # list iterates through the string
l1

['p', 'a', 'v', 'a', 'n']

In [4]:
l1 = list(123)      # int is not iterable

TypeError: 'int' object is not iterable

In [15]:
l2

[1, 2.46, 'pavan', True, (2+3j)]

In [16]:
# List elements are changable or can be modified

l2[0]

1

In [17]:
l2[4]

(2+3j)

In [18]:
l2[4] = 4+8j

In [19]:
l2 # modified

[1, 2.46, 'pavan', True, (4+8j)]

In [52]:
l3 = l2[1:4]
l3

[2.46, 'pavan', True]

In [25]:
l2.append(["pavan", "bairu"])
l2

[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu']]

In [26]:
l2[5]

['pavan', 'bairu']

In [27]:
l2[5][1]  # accessing the nested list

'bairu'

In [28]:
l2[5][1][2]

'i'

In [32]:
for i in l2:
    print(i)

1
2.46
pavan
True
(2+3j)
['pavan', 'bairu']

In [33]:
s = "pavan"

for i in s:
    print(i)

p
a
v
a
n

In [34]:
n = 100

for i in n:
    print(i)

TypeError: 'int' object is not iterable

##### Membership in List

In [35]:
l2

[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu']]

In [36]:
2 in l2

False

In [37]:
2.46 in l2

True

In [38]:
'bairu' in l2

False

In [40]:
'bairu' not in l2

True

In [39]:
['pavan', 'bairu'] in l2

True

In [41]:
reviews = ["good food", "bad food" , "great service", "bad service"]

In [46]:
# reviews
for item in reviews:
    if 'food' in item:
        print(item, end= ",  ")

good food,  bad food,

In [47]:
# service
for item in reviews:
    if 'service' in item:
        print(item, end=",  ")

great service,  bad service,

In [48]:
emails = ["abc@gmail.com","abc@gmail.com","abc@gmail.com","abc@gmail.com","abc@yahoo.com","abc@yahoo.com"]

for email in emails:

    if "gmail.com" in email:

        print(email, end= ",   ")

abc@gmail.com,   abc@gmail.com,   abc@gmail.com,   abc@gmail.com,

##### Functions
Len()

Max()

Min()

Sum()

sorted()

any()

all()

list()

In [49]:
l2

[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu']]

In [50]:
len(l2)

6

In [54]:
l = [23,485,18,30,297,58]

In [55]:
max(l)

485

In [56]:
max(l2)

TypeError: '>' not supported between instances of 'str' and 'float'

In [57]:
l3 = [1,2,'3',9,'4',5]
max(l3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [58]:
s = ['x', 'n', 'a', 'p', 'b', 'z', 'd']  # string list it compares
max(s)

'z'

In [64]:
print(l)
print(l2)
print(s)

[23, 485, 18, 30, 297, 58]
[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu']]
['x', 'n', 'a', 'p', 'b', 'z', 'd']

In [59]:
min(l)

18

In [60]:
min(l2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [65]:
print(l)
print(l2)
print(s)

[23, 485, 18, 30, 297, 58]
[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu']]
['x', 'n', 'a', 'p', 'b', 'z', 'd']

In [61]:
sum(l)

911

In [62]:
sum(l2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [63]:
sum(s)  # sum function returns the addition not concatenation

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [66]:
print(l)
print(l2)
print(s)

[23, 485, 18, 30, 297, 58]
[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu']]
['x', 'n', 'a', 'p', 'b', 'z', 'd']

In [67]:
sorted(l)

[18, 23, 30, 58, 297, 485]

In [73]:
sorted(l,reverse=True)

[485, 297, 58, 30, 23, 18]

In [68]:
sorted(l2)

TypeError: '<' not supported between instances of 'str' and 'float'

In [69]:
sorted(s)

['a', 'b', 'd', 'n', 'p', 'x', 'z']

In [74]:
sorted(s, reverse=True)

['z', 'x', 'p', 'n', 'd', 'b', 'a']

In [75]:
print(l)
print(l2)
print(s)

[23, 485, 18, 30, 297, 58]
[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu']]
['x', 'n', 'a', 'p', 'b', 'z', 'd']

In [76]:
any(l)  # any one element is True retruns true

True

In [77]:
any(l2)

True

In [78]:
any(s)

True

In [79]:
l4 = [0, 0.0, False, None]      # all element is False retruns False
any(l4)

False

In [80]:
print(l)
print(l2)
print(s)
print(l4)

[23, 485, 18, 30, 297, 58]
[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu']]
['x', 'n', 'a', 'p', 'b', 'z', 'd']
[0, 0.0, False, None]

In [82]:
l5 = [1,2,3,4,False]
l5

[1, 2, 3, 4, False]

In [83]:
all(l)

True

In [84]:
all(l2)

True

In [85]:
all(l4)

False

In [86]:
all(s)

True

In [87]:
all(l5)     # if any one element is false returns False

False

##### List methods

1. Append()
2. extend()
3. Insert()
4. index()
5. count()
6. Remove()
7. pop()
8. clear()
9. reverse()
10. sort()
11. Copy()

##### append

In [88]:
l2

[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu']]

In [89]:
l2.append("prashanth")  # adds the element at end of list
l2

[1, 2.46, 'pavan', True, (2+3j), ['pavan', 'bairu'], 'prashanth']

##### Extend

In [117]:
l2

[1, 2.46, 'pavan', True, (2+3j), 'prashanth']

In [91]:
l2.extend(475)  # extend iterates over the str
l2

TypeError: 'int' object is not iterable

In [118]:
l2.extend("475")  # extend iterates over the str
l2

[1, 2.46, 'pavan', True, (2+3j), 'prashanth', '4', '7', '5']

##### Insert

In [119]:
l2

[1, 2.46, 'pavan', True, (2+3j), 'prashanth', '4', '7', '5']

In [120]:
l2.insert(2, "pavan goud") # inserts the elements at the provided index

In [121]:
l2

[1, 2.46, 'pavan goud', 'pavan', True, (2+3j), 'prashanth', '4', '7', '5']

In [122]:
s

['x', 'n', 'a', 'p', 'b', 'z', 'd']

In [123]:
s.insert(2,'b')
s

['x', 'n', 'b', 'a', 'p', 'b', 'z', 'd']

In [124]:
s.insert(50, 'abc')  # if index beyond element it adds at end

In [125]:
s

['x', 'n', 'b', 'a', 'p', 'b', 'z', 'd', 'abc']

In [129]:
l.insert(3,58)

In [130]:
print(l)
print(l2)
print(s)
print(l4)

[23, 485, 18, 58, 30, 297, 58]
[1, 2.46, 'pavan goud', 'pavan', True, (2+3j), 'prashanth', '4', '7', '5']
['x', 'n', 'b', 'a', 'p', 'b', 'z', 'd', 'abc']
[0, 0.0, False, None]

##### Index

In [131]:
# index returns the index position for the value in list
l.index(297)

5

In [128]:
l.index("pavan")    # pavan is not in list

ValueError: 'pavan' is not in list

In [132]:
l.index(58) # 58 available 2 times in list. but it returns the 1st element index

3

##### count

In [133]:
l.count(58)  # returns the no. of occurence of element in list

2

In [134]:
l.count(10)

0

##### remove

In [139]:
l

[23, 485, 18, 58, 30, 297, 58]

In [140]:
l.remove(485) # just removes the value from the list
l

[23, 18, 58, 30, 297, 58]

In [141]:
l.remove("pavan")

ValueError: list.remove(x): x not in list

WAP to remove all occurence of 1 from the below list, don't create new list
givenList = [1,4,6,2,1,2,1,5,1,54,1,6]

In [135]:
lst = [1,4,6,2,1,2,1,5,1,54,1,6]

In [142]:
count = lst.count(1)

for i in range(count):
    lst.remove(1)

lst

[4, 6, 2, 2, 5, 54, 6]

In [143]:
while lst.count(2) != 0:
    lst.remove(2)

lst

[4, 6, 5, 54, 6]

##### pop

In [144]:
print(l)
print(l2)
print(s)
print(l4)

[23, 18, 58, 30, 297, 58]
[1, 2.46, 'pavan goud', 'pavan', True, (2+3j), 'prashanth', '4', '7', '5']
['x', 'n', 'b', 'a', 'p', 'b', 'z', 'd', 'abc']
[0, 0.0, False, None]

In [145]:
l2.pop()   # removes the last element from the list and returns its value

'5'

In [146]:
l2

[1, 2.46, 'pavan goud', 'pavan', True, (2+3j), 'prashanth', '4', '7']

In [147]:
l2.pop()
l2.pop()

'4'

In [148]:
l2

[1, 2.46, 'pavan goud', 'pavan', True, (2+3j), 'prashanth']

In [150]:
while len(l2) != 0:
    l2.pop()

l2

[]

In [151]:
l2.pop()

IndexError: pop from empty list

##### clear

In [152]:
print(l)
print(l2)
print(s)
print(l4)

[23, 18, 58, 30, 297, 58]
[]
['x', 'n', 'b', 'a', 'p', 'b', 'z', 'd', 'abc']
[0, 0.0, False, None]

In [153]:
l4.clear()   # it deletes all the elements from the list but not list

In [154]:
l4

[]

In [155]:
del(s)   # deletes elements as well as list

In [156]:
s

NameError: name 's' is not defined

In [157]:
print(l)
print(l2)
print(l4)

[23, 18, 58, 30, 297, 58]
[]
[]

##### reverse

In [158]:
l.reverse()     # reverses the list

In [159]:
l

[58, 297, 30, 58, 18, 23]

##### sort

In [160]:
l.sort()

In [161]:
l  # sorts in ascending order

[18, 23, 30, 58, 58, 297]

##### copy

In [165]:
l

[18, 23, 30, 58, 58, 297]

In [163]:
newlist = l.copy()

In [164]:
newlist

[18, 23, 30, 58, 58, 297]

In [166]:
id(l)

2226814745536

In [167]:
id(newlist)

2226823194624

##### Shallow Copy

In [1]:
givenList = [1,20,34,42,555,62]

In [2]:
shallowGivenList = givenList

In [3]:
shallowGivenList

[1, 20, 34, 42, 555, 62]

In [4]:

shallowGivenList.pop()

62

In [5]:
givenList       # element removed the original list as well coz both pointing to same address

[1, 20, 34, 42, 555]

In [6]:
id(givenList)

1916919539776

In [7]:
id(shallowGivenList)

1916919539776