#### Pavan Bairu

#### Assignment on sets

#### 1. Create a set containing the characters in the string "hello world".

In [1]:
s = "hello world"

In [2]:
set1 = {}

set1 = {char for char in s}
set1

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

#### 2. Check if the letter 'a' is in the set you created in question 1.

In [3]:
'a' in set1 # char 'a' is not available in set1

False

#### 3. Add the number 5 to the set and remove the element 'd' (if it exists).

In [4]:
set1.add(5) # adding number 5 to the list
print(set1)

if 'd' in set1:
    set1.remove('d')   # removing the letter if exists
    print(set1)

{' ', 'e', 5, 'l', 'o', 'r', 'h', 'd', 'w'}
{' ', 'e', 5, 'l', 'o', 'r', 'h', 'w'}

#### 4. Iterate over the elements in the set and print them in descending order (hint: sets are unordered, so you'll need to convert them to a list first).

In [5]:
sorted(list(set1), reverse=True)

TypeError: '<' not supported between instances of 'int' and 'str'

In [6]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
if 5 in set1:
    set1.remove(5)   # removing the 5 if exists
    print(set1)

{' ', 'e', 'l', 'o', 'r', 'h', 'w'}

In [8]:

l = list(set1)

for char in range(len(l)):

    for char2 in range(1, len(l)):

        if l[char] > l[char2]:
            
            l[char], l[char2] = l[char2], l[char]
l
#sorted(list(set1), reverse=True)

[' ', 'w', 'r', 'o', 'l', 'h', 'e']

#### 5. Find the intersection of two sets: {1, 3, 5} and {2, 4, 5}.

In [9]:
set1 = {1,3,5}
set2 = {2,4,5}

intersection_set = set()

for num in set1:

    if num in set2:

        intersection_set.add(num)

intersection_set

{5}

In [10]:
set1.intersection(set2)

{5}

#### 6. Find the difference between two sets: {apple, banana, orange} and {banana, grape, kiwi}.

In [11]:
set1 = {'apple', 'banana', 'orange'}
set2 = {'banana', 'grape', 'kiwi'}

In [12]:
set1.difference(set2)

{'apple', 'orange'}

In [13]:
set2.difference(set1)

{'grape', 'kiwi'}

#### 7. Combine two sets using the union operation to get all unique elements.

In [14]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

In [15]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
union_set = set2.copy()

for num in set1:

    if num not in set2:

        union_set.add(num)

union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 8. Create a new set containing all even numbers between 1 and 10 (inclusive).

In [17]:
even = {num for num in range(1,11) if num % 2 == 0}
even

{2, 4, 6, 8, 10}

#### 9.Check if one set is a subset of another set.

In [18]:
set1 = {1,2,3,4,5,6}
set2 = {2,3,4}

In [19]:
set2.issubset(set1)

True

#### 10.Remove all duplicates from a list using sets.

In [20]:
l = [7,1,2,3,2,3,4,1,5,7,3,6,8,5]

In [21]:
set(l)

{1, 2, 3, 4, 5, 6, 7, 8}

#### 11. Write a function that takes a list of words and returns a set of unique words (ignoring case).

In [22]:
word_list  = ["apple", "orange", "Orange", "Banana", "Orange", "Grape", "Banana"]

In [23]:
def unique_words(words):

    list1 = []

    for word in words:
        list1.append(word)

    return set(list1)

In [24]:
unique_words(word_list)

{'Banana', 'Grape', 'Orange', 'apple', 'orange'}