#### Set

a set is an unordered collection of unique elements. Sets are defined using curly braces {}, or by using the set() constructor function. Sets can only contain immutable elements, such as numbers, strings, and tuples, but not lists or other sets.

In [7]:
s = {1,2,3,4,2}     # remove duplicates
s

{1, 2, 3, 4}

In [8]:
type(s)

set

In [9]:
s[0]        # it is not subscriptable

TypeError: 'set' object is not subscriptable

In [10]:
# it can be iterable but not subscriptable
for i in s:
    print(i)

1
2
3
4

In [11]:
# index will not work
for i in range(len(s)):

    print(s[i])

TypeError: 'set' object is not subscriptable

In [12]:
s1 = { 1,4,8,2,6,10,3}  # maintains the sort order
s1

{1, 2, 3, 4, 6, 8, 10}

In [13]:
s2 = set(1,2,3)
s2

TypeError: set expected at most 1 argument, got 3

In [14]:
s2 = set((1,2,3))
s2

{1, 2, 3}

In [16]:
s2 = set('pavan')       # sort order
s2

{'a', 'n', 'p', 'v'}

In [18]:
s3 = {4,3.56,True,"pavan"}
s3

{3.56, 4, True, 'pavan'}

##### Functions in set

In [19]:
s3.add('bairu')
s3

{3.56, 4, True, 'bairu', 'pavan'}

##### Sets in Methods
1. add()
2. clear()
3. copy()
4. pop()
5. remove()
6. difference()
7. Update()

In [20]:
s3

{3.56, 4, True, 'bairu', 'pavan'}

In [21]:
s3.add(True)  # 1 is True

In [22]:
s3

{3.56, 4, True, 'bairu', 'pavan'}

In [23]:
s3.add(1)   # 1 is True 
s3

{3.56, 4, True, 'bairu', 'pavan'}

##### copy()

In [24]:
s3

{3.56, 4, True, 'bairu', 'pavan'}

In [25]:
s4 = s3.copy()

In [26]:
s4

{3.56, 4, True, 'bairu', 'pavan'}

In [27]:
id(s3)

1913949738528

In [29]:
# both addresses are not pointing to same adddress. 
# so, if make changes in s3 that changes will not be reflected in s4 and vice versa
id(s4)

1913949739424

In [30]:
print(s3)
print(s4)

{True, 'bairu', 3.56, 4, 'pavan'}
{True, 'bairu', 3.56, 4, 'pavan'}

In [31]:
s4.add("goud")
print(s3)       # changes will not get reflected in s3 after making changes in s4
print(s4)

{True, 'bairu', 3.56, 4, 'pavan'}
{True, 'bairu', 3.56, 4, 'pavan', 'goud'}

##### Both s3 and s4 address are different though the value addresses of inside sets is same if we do copy()

In [32]:
for i in s3:
    print(id(i))

140728778758960
1913945300192
1913942148144
140728779553304
1913895596320

In [33]:

for i in s4:
    print(id(i))

140728778758960
1913945300192
1913942148144
140728779553304
1913895596320
1913945312976

##### clear()

In [34]:
print(s3)
print(s4)

{True, 'bairu', 3.56, 4, 'pavan'}
{True, 'bairu', 3.56, 4, 'pavan', 'goud'}

In [35]:
s3.clear()

In [36]:
print(s3)       # clear all the elements from set s3
print(s4)

set()
{True, 'bairu', 3.56, 4, 'pavan', 'goud'}

#### pop()

In [37]:
print(s4)

{True, 'bairu', 3.56, 4, 'pavan', 'goud'}

In [38]:
s4.pop()    # set dont have sequence to remove the last index. it removes randomly

True

##### remove()

In [40]:
print(s4)

{'bairu', 3.56, 4, 'pavan', 'goud'}

In [39]:
s4.remove(10)       # error out if the element is not found

KeyError: 10

In [41]:
s4.remove(3.56)

In [42]:
s4

{4, 'bairu', 'goud', 'pavan'}

In [46]:
s11 = {1,2,3,4}
s22 = {2,3,4,5}

##### difference()

In [47]:
s11.difference(s22)     # returns the elements which similar from the set s11

{1}

In [49]:
s22.difference(s11)     # returns the elements which similar from the set s22

{5}

##### update()

In [57]:
s31 = {3,5,8}
s32 = {2,3,9,10}

In [58]:
s31.update(s32)     # gives the union of two sets

In [59]:
s31

{2, 3, 5, 8, 9, 10}

##### union()

In [60]:
print(s31)
print(s32)

{2, 3, 5, 8, 9, 10}
{3, 9, 10, 2}

In [61]:
# union just give as a set and doesnt change any of my set
s33= s31.union(s32)
s33

{2, 3, 5, 8, 9, 10}

In [62]:
s11 = {1,2,3,4}
s22 = {2,3,4,5}

In [63]:
s11 + s22

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [65]:
s11-s22     # just comparing the elemnets from the two sets

{1}