#### Strings
a string is a sequence of characters enclosed within either single quotes ' ', double quotes " ", or triple quotes ''' ''' or """ """. Strings are immutable, meaning their contents cannot be changed after creation.

In [1]:
str1 = ""

In [2]:
type(str1)

str

In [3]:
name = "pavan"

In [4]:
# accessing by index
name[0]

'p'

In [5]:
## slicing
name[0:4]

'pava'

In [6]:
## concatenation
name + " bairu"

'pavan bairu'

##### membership operator

In [7]:
name

'pavan'

In [8]:
'p' in name

True

In [9]:
'P' in name     # false its case sensitive

False

In [10]:
'12' in  name

False

In [11]:
'pav' in name       # can checck sequence of characters

True

##### Comparision

In [12]:
ord('a')

97

In [14]:
ord('x')

120

In [13]:
'a' > 'x'

False

In [15]:
## lexographical comparision
'x' > 'abc'

True

##### Functions in string

In [16]:
name

'pavan'

##### len()

In [17]:
len(name)   # returns length

5

In [18]:
len('  ')

2

##### max()

In [19]:
name

'pavan'

In [20]:
max(name)       # v letter having the highest ordinal value

'v'

##### min()

In [21]:
min(name)   # a letter having the lowest ordinal value

'a'

#### Methods of String

##### Capitalize()

In [25]:
name = 'pavan bairu'
name

'pavan bairu'

In [26]:
name.capitalize()    # capitalize the 1st character

'Pavan bairu'

In [28]:
### if want to capitalize each word in sentence
for word in name.split():   # splitting the name with spaces 
    word = word.capitalize()    # capitalizing the each word 1st charcter
    print(word, end=" ")

Pavan Bairu

##### spilt()

In [29]:
name

'pavan bairu'

In [30]:
name.split()  # spilts text by default with space

['pavan', 'bairu']

In [31]:
text = "i would like to learn datascience. it's very intersting"

In [32]:
text.split('.')   # text will get spillted based on the '.'

['i would like to learn datascience', " it's very intersting"]

##### lower()

In [33]:
name = "PAVAN BAIRU"

In [34]:
name.lower() # converts the string to lower case.

'pavan bairu'

##### upper()

In [35]:
name = 'pavan bairu'

In [36]:
name

'pavan bairu'

In [37]:
name.upper() # converts the string to upper case.

'PAVAN BAIRU'

##### title()

In [39]:
text

"i would like to learn datascience. it's very intersting"

In [40]:
text.title()    # capitalize the each word 1st charcter

"I Would Like To Learn Datascience. It'S Very Intersting"

##### swapcase()

In [41]:
name = "Pavan Bairu"

In [42]:
name

'Pavan Bairu'

In [43]:
name.swapcase()     # converts lower case to upper case and vice versa

'pAVAN bAIRU'

##### islower()

In [44]:
text

"i would like to learn datascience. it's very intersting"

In [45]:
text.islower()  # checcks whether all chars are lower. if lower returns true

True

In [46]:
text = "i would like to learn datascience. It's very intersting"
text

"i would like to learn datascience. It's very intersting"

In [47]:
text.islower()  # I is capital. so false

False

##### upper()

In [49]:
text

"i would like to learn datascience. It's very intersting"

In [48]:
text.isupper()      # if all are upper then only it return TRue else false

False

In [51]:
name = "PAVAN BAIRU"
name

'PAVAN BAIRU'

In [52]:
name.isupper()

True

##### isapha()

In [54]:
text

"i would like to learn datascience. It's very intersting"

In [53]:
text.isalpha()

False

In [59]:
name

'PAVAN BAIRU'

In [55]:
name.isalpha()

False

In [60]:
abc = "abc"
abc.isalpha()   # returns true only if all are alphabets.

True

##### isalnum()

In [63]:
name

'PAVAN BAIRU'

In [62]:
name.isalnum()

False

In [64]:
number = "123"
number.isalnum()    # Return True if the string is an alpha-numeric string, False otherwise.

True

In [61]:
address = "abc123"
address.isalnum()

True

##### isdigit()

In [69]:
name
name.isdigit()

False

In [65]:
number = "123"
number.isdigit()

True

In [70]:
address = "abc123"
address.isdigit()   # Return True if the string is a digit string, False otherwise.

False

##### isspace()

In [71]:
name

'PAVAN BAIRU'

In [72]:
name.isspace()

False

In [73]:
string = "      "
string

'      '

In [75]:
string.isspace()    # Return True if the string is a whitespace string, False otherwise.

True

##### startswith() & endswith()

In [76]:
name

'PAVAN BAIRU'

In [77]:
name.startswith('p')

False

In [78]:
# Return True if S starts with the specified prefix, False otherwise. With optional start, test S beginning at that position.
# With optional end, stop comparing S at that position. prefix can also be a tuple of strings to try.

name.startswith('P')

True

In [79]:
name.startswith('PAVAN')    # canbe checked with sequence of chars

True

In [80]:
# Return True if S ends with the specified suffix, False otherwise. With optional start, test S beginning at that position. 
# With optional end, stop comparing S at that position. suffix can also be a tuple of strings to try.

name.endswith('U')

True

In [81]:
name.endswith('u')

False

In [82]:
name.endswith('BAIRU')

True

##### count()

In [83]:
text

"i would like to learn datascience. It's very intersting"

In [85]:
text.count('i')     # counts the number of characters  ('i') in string

5

##### join()

In [86]:
text

"i would like to learn datascience. It's very intersting"

In [88]:
# The string whose method is called is inserted in between each given string. The result is returned as a new string.
' '.join(text)  # joins

"i   w o u l d   l i k e   t o   l e a r n   d a t a s c i e n c e .   I t ' s   v e r y   i n t e r s t i n g"

In [89]:
l = ['pavan', 'bairu']

In [90]:
' '.join(l)

'pavan bairu'

In [91]:
name

'PAVAN BAIRU'

In [92]:
' '.join(name)

'P A V A N   B A I R U'

In [96]:
'@'.join(name)

'P@A@V@A@N@ @B@A@I@R@U'

In [97]:
number

'123'

In [99]:
'ABC '.join(number)

'1ABC 2ABC 3'

In [102]:
' '.join(['123', 'pavan', 'bairu', 'wgl'])

'123 pavan bairu wgl'