#### Tuple
 a tuple is an ordered collection of elements, similar to a list. However, tuples are immutable, meaning their elements cannot be modified, added, or removed after the tuple is created. Tuples are defined using parentheses () and can contain elements of any data type, including integers, strings, floats, and even other tuples.

In [16]:
t1 = (1,2,3,4)

type(t1)

tuple

In [17]:
a = 10
type(a)

int

In [18]:
b = (10)
type(b)

int

In [19]:
c = (15,)
type(c)

tuple

In [4]:
t2 = (1, 2.5, True, 3+2j, "pavan", [1,2]) # supports all data types

In [5]:
t2

(1, 2.5, True, (3+2j), 'pavan', [1, 2])

In [6]:
type(t2)

tuple

In [8]:
t2[2] = False  # the tuple is immutable. can't be modified

TypeError: 'tuple' object does not support item assignment

In [9]:
t3 = (1,2,6,4, [[1,3], 5])

In [10]:
t3[4]

[[1, 3], 5]

In [11]:
t3[4][0]

[1, 3]

In [12]:
t3[4][0][1]

3

In [13]:
t3[4][0][1] = 7     # reassigning in the nested loop can be done

In [14]:
t3

(1, 2, 6, 4, [[1, 7], 5])

In [20]:
t1

(1, 2, 3, 4)

In [25]:
t4 = t1[0:3]

In [26]:
t4

(1, 2, 3)

In [27]:
t5 = (2,4,(0,3), "pavan", 7.374)    # supports tuple inside tuple

In [30]:
t5
t5[2][1]

3

In [31]:
t5[2][1] = 10           # doesnt support assignment

TypeError: 'tuple' object does not support item assignment

#### how data stored in tuple

In [32]:
t3

(1, 2, 6, 4, [[1, 7], 5])

In [33]:
for i in t3:
    print(id(i))

140729106708920
140729106708952
140729106709080
140729106709016
2606911420288

In [34]:
t3[4][0][1]

7

In [35]:
t3[4][0][1] = 10

In [36]:
t3

(1, 2, 6, 4, [[1, 10], 5])

In [37]:
# the address is not changing even after changing the data 
# it manipulates the data but the always the address is same
for i in t3:
    print(id(i))

140729106708920
140729106708952
140729106709080
140729106709016
2606911420288

In [38]:
t3

(1, 2, 6, 4, [[1, 10], 5])

In [41]:
t3[4][0] = [2,5]        # can be changed coz, [1,10] is still inside list

In [42]:
t6 = (1,2,3,4,[1,2],[5,6])

In [43]:
t6[5]

[5, 6]

In [44]:
t6[5] = [4,8]      # coz the list [5,6] is inside tuple

TypeError: 'tuple' object does not support item assignment

##### packing and unpacking

In [45]:
x,y,z = (1,23,5)

In [46]:
print(x)
print(y)
print(z)

1
23
5

In [47]:
a = 1,2,3,4,5

In [48]:
a

(1, 2, 3, 4, 5)

In [49]:
u,v,w,x,y = a

In [51]:
print(u,v,w,x,y)

1 2 3 4 5

##### Function for tupple

len()

max()

min()

sum()

sorted()

any()

all()

tuple()

In [52]:
a1 = (1,2,3,4)
a2 = (1,4.5,4+8j,True,"pavan")
a3 = (a,b,c,x,y,z)

##### len()

In [53]:
len(a2)

5

##### max()

In [54]:
max(a1)

4

In [55]:
max(a2)

TypeError: '>' not supported between instances of 'complex' and 'float'

In [59]:
max(a3)

TypeError: '>' not supported between instances of 'int' and 'tuple'

##### min()

In [56]:
min(a1)

1

In [57]:
min(a2)

TypeError: '<' not supported between instances of 'complex' and 'int'

In [58]:
min(a3)

TypeError: '<' not supported between instances of 'int' and 'tuple'

##### sum()

In [60]:
sum(a1)

10

In [61]:
sum(a2)

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [62]:
sum(a3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [68]:
sorted(a1)

[1, 2, 3, 4]

##### sorted()

In [69]:
sorted(a2)

TypeError: '<' not supported between instances of 'complex' and 'float'

In [70]:
sorted(a3)

TypeError: '<' not supported between instances of 'int' and 'tuple'

##### any()  -> returns True if any element from tuple is True

In [63]:
any(a1)

True

In [64]:
any(a2)

True

##### all() - > returns True only when all the elements in tuple are True

In [65]:
all(a1)

True

In [66]:
a4 = (1,0,3.5,True)

In [67]:
all(a4)

False

##### tuple() - Concatenation

In [71]:
t1

(1, 2, 3, 4)

In [74]:
id(t1)

2606911612512

In [72]:
t2

(1, 2.5, True, (3+2j), 'pavan', [1, 2])

In [75]:
id(t2)

2606903499008

In [77]:
t3 = t1 + t2
t3

(1, 2, 3, 4, 1, 2.5, True, (3+2j), 'pavan', [1, 2])

In [78]:
id(t3)          # creates new address

2606912236864

In [79]:
a1

(1, 2, 3, 4)

In [83]:
a2 = (0,5,7,8,9)
a2

(0, 5, 7, 8, 9)

In [85]:
a1 > a2  # compares lexicographic comparision

True

In [95]:
a1 = ('a','b','c','x','y','z')
a2 = ('x',)

In [96]:
## ord('a') < ord('x')
a1 > a2 # compares lexicographic comparision

False

##### methods in Tupple
1. Append() # not possible
2. extend() #not possible
3. Insert() # not possible
4. index()  
5. count()
6. Remove() # not possible
7. pop()   # not possible
8. clear()  # not possible
9. reverse() 
10. sort()
11. Copy()

In [97]:
t1

(1, 2, 3, 4)

In [98]:
t2

(1, 2.5, True, (3+2j), 'pavan', [1, 2])

In [101]:
t1.append("bairu")

AttributeError: 'tuple' object has no attribute 'append'

In [102]:
t2.extend("pavan")

AttributeError: 'tuple' object has no attribute 'extend'

In [103]:
t2.insert(1,12.4)

AttributeError: 'tuple' object has no attribute 'insert'

##### index()

In [100]:
# returns the index position of the value
t2.index('pavan')

4

In [108]:
t8 = (1,2,3,4,5,2,4,5)
t8.index(5) # returns the starting 1st index of value 5

4

In [111]:
t8.index(5,5) # returns the 2nd index of value 5

7

In [113]:
t8.index(5) - len(t8)       # negetive indexing

-4

In [115]:
t8[-4]

5

#### count()

In [104]:
t2

(1, 2.5, True, (3+2j), 'pavan', [1, 2])

In [105]:
t2.count(1)     # True is also 1

2

##### clear()

In [106]:
t1.clear()

AttributeError: 'tuple' object has no attribute 'clear'